.btn {
    border: 0;
    background: none;
    font-weight: var(--font-regular);
    color: var(--grey-dark);
    cursor: pointer;
  }
  
  .btn-primary {
    color: var(--grey-dark);
    padding: 2px;
    border: 1px solid transparent;
    border-radius: 3px;
    transition: 0.2s;
  }
  
  .btn-primary:hover {
    border-color: var(--metallic-red);
  }
  
  .btn-hover-under:hover {
    text-decoration: underline;
  }
  
  .btn-login {
    width: 100%;
    padding: 12px;
    text-align: center;
    font-size: 14px;
    box-shadow: var(--dark-02) 0px 2px 2px;
    color: var(--light);
    opacity: 0.9;
    border: 1px solid var(--grey);
    border-radius: 4px;
    transition: 0.3s;
  }
  
  .btn-close-form {
    transition: 0.1s;
    border: 1px solid var(--grey);
    border-radius: 30px;
    position: absolute;
    top: 0;
    right: 0;
  }
  
  @media screen and (min-width: 768px) {
    .btn-primary {
      padding: 3px 7px;
    }
  }